   .titulo_centro {
       font-family: 'Poppins';
       font-style: bold;
       font-size: 2em;
       text-align: center;
       margin-top: 1em;
       padding: 25px;
       padding-top: 20px;
   }
   
   .botao_centro {
       text-align: center;
       padding: 10px;
       padding-top: 10px;
   }
   
   label.espaco_abaixo {
       padding-top: 25px;
   }
   
   #linha_horizontal {
       width: 100%;
       border-bottom: 1px solid #908f81;
   }