{% extends 'base/base.html' %}

{%block content%}

<style>
  body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  form {
    padding: 20px;
    background-color: #f2f2f2;
    max-width: 500px;
    margin: 0 auto;
  }
  input[type=checkbox] {
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .container {
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
  }
</style>



<!-- Modal -->
<div class="modal fade" id="modalcadastroquarto" tabindex="-1" aria-labelledby="modalcadastroquartoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="modalcadastroquartoLabel">Cadastro de novo Produto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form method="post" class="form-inline">
        {% csrf_token %} 
        <div class="modal-body"> <!-- INICIO modal-body-->
    
          <div class="row col-md-12"> <!-- INICIO Tipo-->
            <label for="nome" class="form-label">Nome:</label>
            <input type="text" id="nome" name="nome" class="form-control " placeholder="Nome Comercial do Produto" required autofocus>
          </div> <!-- FIM Tipo-->
    
          <div class="row"><!-- INICIO Numero e Capacidade -->
            <div class="col-md-6">
              <label for="valor_custo" class="form-label espaco_abaixo">valor de Custo:</label>
              <input type="number" id="valor_custo" name="valor_custo" class="form-control" required>
            </div>
            <div class="col-md-6">
              <label for="valor_venda" class="form-label espaco_abaixo">valor de Venda:</label>
              <input type="number" id="valor_venda" name="valor_venda" class="form-control" required>
            </div>
          </div> <!-- fim Numero e Capacidade-->

          <div class="row col-md-12"> <!-- INICIO Tipo-->
            <label for="descricao" class="form-label espaco_abaixo">Descrição:</label>
            <textarea type="text" id="descricao" name="descricao" class="form-control " placeholder="Descrição do Produto" required autofocus></textarea>
          </div> <!-- FIM Tipo-->
        </div> <!-- FIM modal-body-->
    
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </div>
      </form>
    </div>
  </div>
</div>




  
<h1>EM DESENVOLVIMENTO</h1>
	<form>
		<div class="container">
			<label for="agua">Água Mineral:</label>
			<input type="checkbox" id="agua" name="agua" value="agua">
			<label for="toalhas">Toalhas Extras:</label>
			<input type="checkbox" id="toalhas" name="toalhas" value="toalhas">
			<label for="chinelos">Chinelos Descartáveis:</label>
			<input type="checkbox" id="chinelos" name="chinelos" value="chinelos">
			<label for="travesseiros">Travesseiros Extras:</label>
			<input type="checkbox" id="travesseiros" name="travesseiros" value="travesseiros">
			<label for="cobertor">Cobertor:</label>
			<input type="checkbox" id="cobertor" name="cobertor" value="cobertor">
			<label for="tapete">Tapete Higiênico:</label>
			<input type="checkbox" id="tapete" name="tapete" value="tapete">
			<input type="submit" value="Enviar">
		</div>
	</form>



{% endblock %}
