{% extends 'base/base.html' %}

{% block content %}
 

  <h1 class="titulo_centro">Reservar Quarto</h1>

  <form method="get" id="search-form" class="form-inline">
    <!-- FORM GET CONSULTA QUARTOS DISPONIVEIS -->
    <div class="row">
      <!-- INICIO ROW DATAS -->
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <label for="checkin" class="form-label">Check-in:</label>
        <input type="date" id="checkin" name="checkin" class="form-control" required />
      </div>

      <div class="col-md-4">
        <label for="checkout" class="form-label">Check-out:</label>
        <input type="date" id="checkout" name="checkout" class="form-control" required />
      </div>

      <div class="col-md-3">
        <label for="quantidade_hospedes" class="form-label">Quantos Hospedes:</label>
        <div class="col-md-3">
          <select id="quantidade_hospedes" name="quantidade_hospedes" class="form-control" required>
            <option value="" align="center" disabled selected>0</option>
            <option value="1" align="center">1</option>
            <option value="2" align="center">2</option>
            <option value="3" align="center">3</option>
            <option value="4" align="center">4</option>
            <option value="4" align="center">5</option>
            <option value="4" align="center">6</option>
          </select>
        </div>
      </div>
    </div> <!-- INICIO ROW DATAS -->
    <br />
    <div class="row">
      <div class="col" align="center">
        <button type="submit" class="btn btn-primary">Consultar Quartos</button>
      </div>
    </div>
  </form>
  <br />

  <div id="linha_horizontal"></div>

  <p></p>
  {% if pagina == 'quartos' %}
    <!--  
    
    <div class="row">
      <div class="col-md-5" style="border: 1px solid blue;">
        <label>Checkin: {{ pendente.data_entrada.date }}</label><br />
        <label>Checkout: {{ pendente.data_saida.date }}</label><br />
        <label>Para {{ pendente.quantidade_hospedes }} Hospedes</label>
      </div>

      <div class="col-md-2"></div>

      <div class="row col-md-5" style="border: 1px solid blue;">
        <label for="cliente" class="form-label">Hospede Responsável:</label>
        <select id="cliente" name="cliente" class="form-control" required>
          <option value="" align="center" disabled selected>Selecione</option>
          {% for cliente in clientes %}
            <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.endereco.cidade }}/{{ cliente.endereco.estado }} - Telefone: {{ cliente.telefone }}</option>
          {% endfor %}
        </select>
        <p></p>
      </div>
    </div>  
    
    -->

    <div class="row">
      <div class="col-md-10"></div>
      <div class="col-md-1">
        <a class="btn btn-outline-success" href="{% url 'clientes' %}"  style="width: 100%;">+Cliente</a>
      </div>
      <div class="col-md-1">
        <a class="btn btn-outline-primary" href="{% url 'quartos' %}" style="width: 100%;">+Quarto</a>
      </div>
    </div>
    <p></p>
    
    {% for item in quartos %}
    <form method="post">
      {% csrf_token %} 
      <div class="row alert alert-primary">
        <div class="col-md-6">
          <h5 class="card-title">{{ item.numero }} - {{ item.tipo }} (até {{ item.capacidade }} pessoas)</h5>
          <p class="card-text">Descrição: {{ item.descricao }}</p>
          <label for="valortotal">Valor Total das Diárias:</label>
          <input type="number" id="valortotal" name="valortotal" class="form-control" style="width: 20%;" step="0.01" required />         
        </div>
        <div class="col-md-6">
          <div class="row">
            <label for="cliente" class="form-label">Hóspede Responsável:</label>
            <select id="cliente" name="cliente" class="form-control" required>
              <option value="" align="center" disabled selected>Selecione</option>
              {% for cliente in clientes %}
                <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.endereco.cidade }}/{{ cliente.endereco.estado }} - Telefone: {{ cliente.telefone }}</option>
              {% endfor %}
            </select>
          </div>
          <p></p>
          <div class="row">
            <label>Checkin: {{ pendente.data_entrada.date }}</label><br />
            <label>Checkout: {{ pendente.data_saida.date }}</label><br />
            <label>Para {{ pendente.quantidade_hospedes }} Hospedes</label>
          </div>
        </div>
        <button type="submit" class="btn btn-success" style="width: 30%;" >Reservar</button>
      </div>
      <input TYPE="hidden" name="id_quarto" id="id_quarto" value="{{item.id}}"/>
    </form>
    {% endfor %}
  {% endif %}

  {% if pagina == 'dados_reserva' %}
    <h4>dados_reserva</h4>
    <!--        <div class="row col-md-6" style="border: 1px solid blue;">
      <label>Checkin: {{ pendente.data_entrada }}</label>
      <label>Checkout: {{ pendente.data_saida }}</label>
      <label>Para {{ pendente.quantidade_hospedes }} Hospedes</label>
    </div>
    <p></p>
    <div class="row col-md-6" style="border: 1px solid blue;">
      <div class="col-md-auto">
        <label for="cliente" class="form-label">Hospede Responsável:</label>
      </div>
      <div class="col-md-auto">
        <select id="cliente" name="cliente" class="form-control" required>
          <option value="" align="center" disabled selected>Selecione</option>
          {% for cliente in clientes %}
            <option value="{{ cliente.id }}">{{ cliente.nome }} - {{ cliente.endereco.cidade }}/{{ cliente.endereco.estado }} - Telefone: {{ cliente.telefone }}</option>
          {% endfor %}
        </select>
      </div>
      <p></p>
    </div>

    <p></p>

    <div class="row col-md-6" style="border: 1px solid blue;">
      <label>Dados do quarto:</label>
      <label>Número: {{ quarto.numero }}</label>
      <label>Tipo: {{ quarto.tipo}}</label>
      <label>Para até {{ quarto.capacidade}} Pessoas.</label>
      <label>Descrição: {{ quarto.descricao}}</label>
    </div>          -->
  {% endif %}
{% endblock %}
